<!-- Toolbar -->
<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar" style="height:68px;background-color: black;padding-left:0px">
  <!--img
  width="100"
  style="width:200px;height:66px;padding: 0px;"
  alt="Appolo Logo"
  src="assets/gothe.jpeg"
/-->
<div style="font-size: 36px;padding: 16px;">
  <a href="#" style="color: white"><i class="fa fa-home fa-10x"> </i> </a>
 </div>
 <div  class="c1" style="color: white">Denny Traders</div>
 <div  class="b1" style="font-size: 12px;">
  <p class="p1" style="color: white"> GSTIN: 123456789</p>
  <p class="p1" style="color: white"> Pallikkara</p>
  <p class="p1" style="color: white">Kizhakkambalam</p>
  <i class="fa fa-phone" style="font-size:14px;color:white">  0484-2680806</i>
  
</div>
</header>
<!---<img
    width="100"
    style="width:200px;height:85px;"
    alt="Appolo Logo"
    src="assets/gothe.jpeg"
  />div class="toolbar1" role="banner">
  

  <div style="font-size: 36px;">
    <a href="#" style="color: white"><i class="fa fa-home fa-10x"> </i> </a>
   </div>
    
  <div  class="c1">Denny Traders</div>
  <div  class="b1">
    <p class="p1"> GSTIN: 123456789</p>
    <p class="p1"> Pallikkara</p>
    <p class="p1">Kizhakkambalam</p>
    <i class="fa fa-phone" style="font-size:18px;color:white">  0484-2680806</i>
    
  </div>
  
</div-->

<router-outlet></router-outlet>