<div class="content1 imgbg" role="main">

  
    <div class="card-container1">
      <div class="card1" style="opacity: .7;" [routerLink]="['/catalogue']">
        <!--img src="assets/appolo_1.png" alt="Catalogue" style="width:60%"-->
        <div class="container" style="opacity: 1;" >
          <h4 style="color: white;">Catalogue</h4>
          
        </div>
      </div>
      <div class="card1" style="opacity: .7;" [routerLink]="['/billing']">
        <!--img src="assets/appolo_1.png" alt="Billing" style="width:60%"-->
        <div class="container">
          <h4 style="color: white;">Billing</h4>
        </div>
      </div>
    </div>
      
      <div class="card-container1" >
      <div class="card1" style="opacity: .7;">
        <!--img src="assets/appolo_1.png" alt="Sales" style="width:60%"-->
        <div class="container">
          <h4 style="color: white;">Sales</h4>
        </div>
      </div>

      <div class="card1" style="opacity: .7;" [routerLink]="['/tax']">
        <!--img src="assets/appolo_1.png" alt="Tax" style="width:60%"-->
        <div class="container">
          <h4 style="color: white;">Tax</h4>
        </div>
      </div>
    </div>
   
    
  </div>